@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */
header,
.banner-content,
#about,
.games-content,
.features-content {
    width: 80%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.btn {
    padding: 10px 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    background-color: #F948B2;
}

.btn-secondary {
    background-color: #4EC5F7;
}

.section-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}

.spesial-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-description {
    color: #534C64;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 15px;
}

.text-center {
    align-items: center;
}

.text-black {
    color: black !important;
}


/* navbar section styles */
nav {
    justify-content: space-between;
    padding: 20px 0;
}

.logo,
nav ul {
    align-items: center;
}

.logo h3 {
    font-size: 40px;
}

nav ul li {
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li:last-child {
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #3C354F;
}

/* banner section styles */
#banner {
    background-image: url("./images/Group14.png");
    background-repeat: no-repeat;
    background-position: top left;
}

.banner-content {
    align-items: center;
}

.banner-texts,
.banner-image {
    width: 50%;
}

.banner-texts h2 {
    color: #0B0223;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-texts h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-texts ul {
    margin-bottom: 1rem;
}

.banner-texts ul li {
    list-style: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.banner-image img {
    display: inline-block;
    width: 100%;
}

/* about section styles */
.about-content {
    align-items: center;
    padding: 50px 0;
}

.about-image {
    width: 60%;
}

.about-texts {
    width: 40%;
    text-align: right;
}

.about-image img {
    display: inline-block;
    width: 100%;
}

.purpose {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #534C64;
}

.quote {
    color: #534C64;
    font-size: 25px;
}

/* games section styles */
.games-content {
    padding: 50px 0;
}

.games-text {
    text-align: center;
}

.games-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.game-image img {
    width: 100%;
    display: inline-block;
}

.game-image {
    position: relative;
}

.game-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 7px);
    width: calc(100% - 3px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: 3px solid #F948B2;
    justify-content: center;
    transform: scale(0);
    transition: all linear 0.3s;
}

.game-image:hover .game-image-overlay {
    transform: scale(1);
    transition: all linear 0.3s;
}

.game-image-overlay div {
    flex-direction: column;
}

.game-image-overlay img {
    width: 40px;
    cursor: pointer;
}

.game-image-overlay p {
    color: #F948B2;
    font-size: 20px;
}

/* features section styles */
.features-content {
    padding: 30px 0;
}

.first-row-container,
.second-row-container {
    align-items: center;
}

.features-text {
    width: 40%;
    text-align: right;
}

.features-img {
    width: 60%;
}

.image-container {
    justify-content: flex-end;
}

.float-image-parent,
.float-image-parent-two {
    position: relative;
    display: inline-block;
    width: 70%;
}

.float-image-parent>img,
.float-image-parent-two>img {
    display: inline-block;
    width: 100%;
}

.float-image {
    position: absolute;
    bottom: -70px;
    left: -110px;
    width: 230px;
}

.float-image img,
.float-image-two img {
    display: inline-block;
    width: 100%;
}

.second-row {
    margin-top: 100px;
}

.features-text-two {
    width: 40%;
    text-align: left;
}

.float-image-two {
    position: absolute;
    bottom: -70px;
    right: -110px;
    width: 250px;
}

/* careers section styles */

/* footer section styles */


/* media queries for responsiveness */
/* small (mobiles) devices */
@media screen and (max-width: 576px) {

    /* shared */
    body {
        background-color: #FFFFFF;
    }

    .btn {
        border-radius: 35px;
        font-size: 18px;
    }

    .section-title {
        font-size: 35px;
    }

    .section-description {
        line-height: 24px;
    }

    /* navbar */
    nav,
    nav ul,
    .about-content {
        flex-direction: column;
        gap: 20px;
    }

    .logo {
        justify-content: center;
    }

    .logo img {
        width: 70px;
    }

    /* banner */
    #banner {
        background: none;
    }

    .banner-content {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .banner-texts,
    .banner-image {
        width: 100%;
    }

    .banner-texts {
        background-image: url("./images/Group14.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 3rem 2rem;
    }

    .banner-texts h2 {
        font-size: 35px;
    }

    .banner-texts h1 {
        font-size: 60px;
    }

    .banner-texts ul li {
        font-size: 18px;
    }

    /* about */
    .about-image,
    .about-texts {
        width: 100%;
    }

    .about-texts {
        text-align: center;
    }

    .quote {
        font-size: 22px;
    }

    /* games */
    .games-container {
        grid-template-columns: 1fr;
    }

    /* features */
    .first-row-container,
    .second-row-container {
        flex-direction: column;
    }

    .first-row-container {
        margin-bottom: 125px;
    }

    .features-text,
    .features-text-two {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .features-img {
        width: 100%;
    }

    .image-container,
    .image-container-two {
        position: relative;
    }

    .second-row-container {
        flex-direction: column-reverse;
    }

    .float-image-parent,
    .float-image-parent-two {
        position: static;
        width: 85%;
    }

    .float-image,
    .float-image-two {
        width: 165px;
    }

    .float-image {
        left: 0;
    }

    .float-image-two {
        right: 0;
    }
}

/* medium devices (tablets) */
@media screen and (min-width: 577px) and (max-width: 768px) {

    /* shared */
    .section-title {
        font-size: 45px;
        text-align: center;
    }

    /* navbar */
    nav,
    .about-content {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .logo img {
        width: 70px;
    }

    /* banner */
    #banner {
        background: none;
    }

    .banner-content {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .banner-texts,
    .banner-image {
        width: 100%;
    }

    .banner-texts {
        background-image: url("./images/Group14.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 3rem 0;
    }

    .banner-texts h2 {
        font-size: 35px;
    }

    .banner-texts h1 {
        font-size: 70px;
    }

    .banner-texts ul li {
        font-size: 18px;
    }

    /* about */
    .about-image,
    .about-texts {
        width: 100%;
    }

    .about-texts {
        text-align: center;
    }

    /* games */
    .games-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* features */
    .first-row-container,
    .second-row-container {
        flex-direction: column;
    }

    .first-row-container {
        margin-bottom: 125px;
    }

    .features-text,
    .features-text-two {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .features-img {
        width: 100%;
    }

    .image-container,
    .image-container-two {
        position: relative;
    }

    .second-row-container {
        flex-direction: column-reverse;
    }

    .float-image-parent,
    .float-image-parent-two {
        position: static;
        width: 80%;
    }

    .float-image {
        left: 0;
    }

    .float-image-two {
        right: 0;
    }
}