@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */


/* navbar section styles */

/* banner section styles */

/* about section styles */

/* features section styles */

/* careers section styles */

/* footer section styles */


/* media queries for responsiveness */